<launch>
	<arg name="ugv_n"						default="ugv1"/>
	<arg name="launcher" 				default="$(arg ugv_n)_teleop_launcher" />
	<arg name="cmd_vel_topic" 	default="/hast/$(arg ugv_n)/cmd_vel_raw" />

	<node pkg="turtlebot_teleop" type="turtlebot_teleop_key" name="$(arg ugv_n)_teleop"  output="screen">
		<param name="scale_linear" 		value="0.5" 	type="double"/>
		<param name="scale_angular" 	value="0.75" 	type="double"/>
		<remap from="$(arg ugv_n)_teleop/cmd_vel" to="$(arg cmd_vel_topic)"/>
	</node>

	<node pkg="hast"	type="shutdownListener"	name="shutdownListener_$(arg launcher)"	output="screen"	required="true"/>

</launch>





<!--
rostopic pub -1 /hast/kobuki/commands/reset_odometry std_msgs/Empty
-->



	<!-- <param name="/hast/PLATFORM" value="$(arg PLATFORM)" type = "str" /> -->

	<!-- -->

	<!-- <include file="$(find hast)/launch/turtlebot_minimal.launch"/> -->

	<!-- <include file="$(find hast)/launch/create_driver.launch"/> -->
	<!-- <arg name="tb_base" 	default="kobuki" /> -->
	<!-- <arg name="mode" 		default="hast" /> -->

		<!-- <remap from="turtlebot_teleop_keyboard/cmd_vel" to="/gazebo/kobuki/commands/velocity"/> -->
